<!DOCTYPE html>

<html lang="sk">
    <head>
        <meta charset="utf-8">
        <title>Bankomat</title>
        <link href="css/bankomat.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" defer></script>
        <script src="js/bankomat.js" defer></script>
    </head>

    <body>
        <header>
            <h1>Bankomat</h1>
        </header>
        <main id="app">
            <header>
                <input type="text" v-model="suma">
                <button @click="vydaj">Vydať</button>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Nominál</th>
                        <th>Počet ks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(nominal, idx) in state.nominals" :key="idx">
                        <td>{{ nominal }}</td>
                        <td>{{ state.ks[idx] }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>